* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* ================
        font
   ================ */


/* ================
   project varibels
   ================  */
:root {
        --clr-black: #000000;
        --clr-dark-blue: #14213d;
        --clr-orang: #fc7b11;
        --clr-light-orang: #c0824f;
        --clr-back: #e5e5e5;
        --clr-white: #ffffff;
        --transition: all 0.3s linear;
        --radiuse: 0.5rem;
        --font-family: "Google Sans", sans-serif;
}

body {
        /* font-size: 1rem; */
        overflow-x: hidden;
        font-family: var(--font-family);
        color: var(--clr-black);
        font-family: "Google Sans", sans-serif;
}

.section-center {
        padding: 4rem 0;
        width: 85vw;
        margin: 0 auto;
        max-width: 1170px;
}

.clearfix::before,
.clearfix::after {
        clear: both;
        content: '';
        display: block;
}

ul,
li,
a {
        list-style-type: none;
        text-decoration: none;
}

.btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
        border-radius: var(--radiuse);
        background: var(--clr-orang);
        color: var(--clr-white);
        transition: var(--transition);
}

.btn:hover {
        background: var(--clr-light-orang);
}

img {
        width: 100%;
        display: block;

}

/* ================
        navbar
   ================ */
.menu {
        width: 100%;
        height: 5rem;
        display: inline-block;
        display: flex;
        /* border: 1px solid red; */
        padding: 2rem 2rem;
        position: relative;
}

/* -----logo-------- */
.logo {

        height: 3rem;
        margin: 0rem -rem;
}

.logo>img {
        width: 6rem;
        object-fit: cover;
}

/* --------------------------- */
@media screen and (min-width:768px) {
        .menu {
                height: 6.5rem;

        }

        .logo {
                width: 10rem;
                height: 3rem;
                margin: 0rem 1rem;
        }

        .logo>img {
                width: 9rem;
                object-fit: cover;
        }

}

.btn-meno {
        margin-right: -1rem;

}

.btn-nav {
        font-size: 0.60rem;
        padding: 0.5rem 0.85rem;
}

/* ----finish logo----- */
.menu>ul {
        margin: 0 0.5rem 0 3rem;
        display: flex;
}

.menu>ul>li {
        margin: 0.25rem 0.20rem 0.20rem 0.30rem;

}

.menu>ul>li>a {
        font-weight: bold;
        color: var(--clr-black);
        transition: var(--transition);

}

.menu>ul>li>a:hover {
        text-shadow: 1.5px 3.5px 1.5px #c0824f;
}

/* --------------------- */
@media screen and (min-width:768px) {
        .menu>ul {
                margin: 0 4rem;
                position: absolute;
                right: 15rem;

        }

        .menu>ul>li {
                margin: 0.70rem 2rem;
        }

        .menu>ul>li>a {
                font-weight: bold;
                font-size: 1.20rem;
                color: var(--clr-black);
        }
}

/* botton */
@media screen and (min-width:768px) {
        .btn-nav {
                margin-right: 4rem;
                padding: 0.75rem 3rem;
                font-size: 1rem;
                position: absolute;
                right: 0;
        }
}

/* ================
        header
   ================ */
.header {
        position: relative;
}

/* ------img---- */


.img-header {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
}

.container-img::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));

}

/* ----text---- */
.section-txt {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.title-header {
        color: var(--clr-white);
        line-height: 3rem;
        margin-bottom: 1rem;
}

.title-header>span {
        color: var(--clr-light-orang);
}

.text-header h3 {
        color: var(--clr-white);
        margin: 1.5rem 0 0.5rem 0;
}

.text-header p {
        color: var(--clr-white);
        font-size: small;
}

.Explore-more {
        position: absolute;
        bottom: -5rem;
}

.Explore-more {
        margin: 0 5rem 0 0;
}

.see-more {
        position: absolute;
        padding: 0.5rem 2rem;
        border: 1px solid var(--clr-orang);
        background: none;
        bottom: -5rem;
        left: 10rem;
}

@media screen and (min-width:768px) {
        .section-txt {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
        }

        .title-header {
                font-size: 1.5rem;
                line-height: 3.5rem;
                margin-bottom: 1rem;
        }



        .text-header h3 {

                margin: 3rem 0 0.5rem 0;
                font-size: 2rem;
        }

        .text-header p {
                font-size: 1rem;
        }
}

/* ================
        About
   ================ */
.content-img,
.content-info {
        padding: 2rem 0;

}

.content-img {
        overflow: hidden;
}

@media screen and (min-width:768px) {
        .content-img {
                max-width: 30rem;
        }

        .content-img {
                float: left;
                width: 50%;
                margin-right: 3rem;
        }
}

.img-about {
        transition: var(--transition);
}

.img-about:hover {
        transform: scale(1.1);
}

.title-info {
        color: var(--clr-orang);
}

.text-info {
        margin-top: 2rem;
}

.pragraf-info {
        margin-top: 1rem;
        font-size: 1.25rem;
}

.btn-info {
        margin-top: 2rem;
        padding: 0.5rem 2.5rem;
}

/* ================
   image-background
   ================ */
.services {
        position: relative;
}

.back-img {
        transition: var(--transition);
}

.services:has(.text:hover) .back-img {
        filter: blur(4px);
}

.back-img>img {
        height: 100vh;
        object-fit: cover;
}

.text {
        position: absolute;
        display: inline-block;
        left: 2rem;
        bottom: 6rem;
        font-size: 1.70rem;

}

@media screen and (min-width:768px) {
        .text {
                position: absolute;
                left: 5rem;
                bottom: 50%;
                font-size: 3rem;

        }

}

.first-txt {
        color: var(--clr-orang);
}

.secound-txt {
        color: var(--clr-white);
}

/* ================
      products
   ================ */

.title-info-products {
        margin-bottom: 1rem;
        font-weight: 5rem;
        font-size: 2.5rem;
}

@media screen and (min-width:768px) {
        .title-info-products {
                font-weight: 5rem;
                font-size: 3rem;
        }
}

.info-products>p {
        max-width: 40rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
}

.box {
        margin-top: 2rem;
        width: 100%;
        position: relative;
}

.services-img {
        /* width: 100%; */
        height: 30rem;
        object-fit: cover;
}

.box-info {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem 0.5rem;
        background: rgba(255, 250, 250, 0.39);
        color: rgb(0, 0, 0);
}

.title-info-box-img {
        font-weight: 3rem;
        font-size: 1.75rem;
        margin-bottom: 2rem;

}

.text-info-box-img {
        margin: 1rem 0 1rem 0;

}

.text-bottom-products {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        font-size: 1.70rem;
        color: var(--clr-orang);
}

.line-bottom-products {
        float: right;
        /* width: 50%; */
        position: absolute;
        bottom: 4rem;
        right: 3rem;
        width: 10rem;
        height: 0.17rem;
        background-color: var(--clr-white);
}

@media screen and (min-width:768px) {
        .box {
                float: left;
                width: 47%;
                margin-left: 2rem;
        }

        .line-bottom-products {
                position: absolute;
                bottom: 4rem;
                right: 1.5rem;
                width: 2rem;
        }

        .text-bottom-products {
                position: absolute;
                bottom: 3.5rem;
                right: 2rem;
                font-size: 1rem;

        }
}

@media screen and (min-width:992px) {
        .box {
                width: 30%;
                margin-left: 2rem;
        }

        .line-bottom-products {

                width: 6rem;
        }

}

/* ================
    cars-products
   ================ */
.cars {
        background: var(--clr-back);
}

.container {
        border: 1px solid red;

        width: 100vw;
        height: 100vh;
        border: 1px solid red;
}

.box-cars {
        transition: var(--transition);
}

.cars-box-info {
        padding: 0 0 0 1rem;
}

.box-cars:hover {
        box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.336);
}

.title-cars {
        margin: 1rem 0 1rem 0;
}

.text-cars {
        line-height: 1.5rem;
        margin-bottom: 2.5rem;
}

.btn-car {
        border-radius: 0.40rem;
        margin-bottom: 2.5rem;
}

@media screen and (min-width:768px) {
        .box-cars {
                float: left;
                width: 45%;
                margin-left: 2rem;
        }

}

/* ================
   EXPLAIN ABOUT CAR
   ================ */
.explain-about {
        background: var(--clr-back);
}

.title-info-car {
        color: var(--clr-orang);
        font-size: 2rem;
        margin: 1rem 0 1rem 0;
}

.txt-info-carr {
        font-size: 1.25rem;
        margin-bottom: 3rem;
}

.info-container-car {
        /* width: 32rem; */
        margin-left: 1rem;
}

@media screen and (min-width:768px) {
        .img-container-car {
                max-width: 32rem;
                margin: 0 1.5rem 0 0;
                display: inline-block;
        }

        .info-container-car {
                float: right;
                width: 50%;
        }
}

--------------------------------------------- .explain {
        background: var(--clr-back);
}

.title-info-car-secound {
        color: var(--clr-orang);
        font-size: 2rem;
        margin: 1.5rem 0 1.5rem 0;
}

.txt-info-car-secound {
        font-size: 1.25rem;
        margin-bottom: 3rem;
}

@media screen and (min-width:768px) {
        .img-container-car-secound {
                max-width: 32rem;
                display: inline-block;
        }

        .info-container-car-secound {
                float: left;
                width: 50%;
                margin-right: 5rem;
                max-width: 31rem;
        }
}

/* --------------------------- */
.img-gallery:nth-of-type(2) {
        margin-top: 2rem;
}

@media screen and (min-width:768px) {
        .img-gallery {
                width: 50%;
                margin: 0 2rem 0 0;
                max-width: 34rem;
                float: right;
        }

        .img-gallery:nth-of-type(2) {
                margin-top: 0rem;



        }
}

/* ================
      footer
   ================ */
.footer {
        background: var(--clr-dark-blue);
        position: relative;
}

.menu-footer {
        width: 100%;
        height: 5rem;
        display: inline-block;
        display: flex;
        /* border: 1px solid red; */
        padding: 2rem 2rem;
        position: relative;
}

/* logo---------- */
.logo-container {
        width: 4rem;
        position: absolute;
        top: 0;
        left: 0;
}

/* menu---------- */
.submenu-footer {
        /* border: 1px solid red; */
        display: flex;
        margin-top: -0.5rem;
        transition: var(--transition);
          margin-bottom: 2rem;
}

.submenu-footer>li {
        /* border: 1px solid red; */
        color: var(--clr-orang);
        text-align: center;
        justify-content: center;
        transition: var(--transition);
}

.submenu-footer>li>a {
        color: var(--clr-orang);
        text-align: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: large;
        margin: 0 0.5rem;
        transition: var(--transition);
}

.subgrop{
        display: none;
      
        
}
.subgrop>li{
        transition:var(--transition);
}
.subgrop>li>a{
        color: var(--clr-light-orang);
        text-align: center;
        justify-content: center;
        transition: var(--transition);
        font-size: small;
}
.subgrop>li>a:hover{
        border-bottom:0.10rem solid #c0824f;
}
.submenu-footer>li:hover .subgrop {
        /* border: 1px solid red; */
        display: block;
}

.bottom-to-end-of-page {
        position: absolute;
        top: 0;
        right: 0;
}

.bottom-to-end-of-page>a {
        font-size: 0.65rem;
        display: block;
        margin: 0.25rem 0;

}

.botton-footeer-secound {
        background: var(--clr-white);
        color: var(--clr-orang);
        font-size: 1rem;
}
@media screen and (min-width:768px) {

.submenu-footer{
        position: absolute;
        top: 0;right:8rem;
}
.logo-container {
        width: 7rem;}

/* menu---------- */
.submenu-footer>li>a {
        font-size:1.5rem; 
}

.subgrop>li{
        transition:var(--transition);
}


.bottom-to-end-of-page>a {
        font-size: 1rem;
        display: block;
        margin: 0 0 0.5rem 0;

}

.botton-footeer-secound {
        margin: 0 0 4rem 0;
        font-size: 1rem;
}    
}
.text-end-of-page{
        margin: 1rem 0;
        color: var(--clr-back);
}
.arm-container{
        margin: 1rem;
         border-radius: 40%;
         color:var(--clr-back);
        background: var(--clr-orang);
        justify-content: center;
        text-align: center;

        
}
.aa{
 position: absolute;
        bottom: 3rem;
        right: 4.75rem;
}
.cccc{
        display: inline-block;
width: 2rem;
        height:3rem;
       
       
}
.fllow-us{
        float: right;
        position: absolute;
        right: 23rem;
        bottom:5rem;
        color: var(--clr-back);
}



/* ----finish logo----- */